* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    color: blue;
}

h3.principal {
    color: purple;
}

p.principal {
    color: orangered;
    font-weight: bold;
}

#about {
    font-weight: bold;
}

button:hover {
    font-weight: bold;
    cursor: pointer;
}